<h1>Meetups</h1>

<ul>


<% @meetups.each do |meetup| %>
<li>
  <a href="/meetups/<%=meetup.id%>"><%= meetup.name %></a>

</li>
<% end %>
</ul>

<a href="/new" type="button" name="button">Add New Meetup!</a>
