<h1>Meetups</h1>

<div>
  <ul class="display">
    <% @meetups.each do |meetup| %>
      <li>
        <a href="/meetups/<%=meetup.id%>"><%= meetup.name %></a>
      </li>
    <% end %>
  </ul>
</div>

<a href="/new" type="button" name="button" class="addNew">Add New Meetup!</a>
